<footer class="text-center py-3 my-4 border-top">
	<span class="text-muted">&copy; 2022 <i class="fas fa-book-dead"></i> <b>APKematian</b>.Corp</span>
</footer>

<script lang="javascript" src="JS/main.js"></script>